#footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f9f9f9;
    .footer-links {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: #000;
            transition: all 0.1s ease-in;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}