#group {
    height: 60vh;
    .group-util {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .group-name {
            h1 {
                font-weight: bold;
                margin: 0;
                font-size: 48px;
            }
            align-items: start;
            display: flex;
            flex-direction: column;
        }
    }
    .group-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 28px;
            text-decoration: underline;
        }
    }
}