#landing {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#landing .landing-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color:#0057FF;
  height: 50vh;
}

#landing .landing-main .landing-main-left  {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 10rem;
  height: 100%;
}

#landing .main-text {
  color: white;
}

#landing .landing-main .landing-main-left .main-header{
  color: white;
  font-size: 48px;
  margin: 0;
}

#landing .landing-main .get-started-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  
}

#landing .instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 5rem 10rem;
}

#landing .instructions .text {
  text-align: left;
}

#landing .instructions:nth-child(odd) {
  background: #0057FF;
  color: #fff;
}

#landing .instructions .text-header {
  font-size: 32px;
}

/* bold and highlight first word in header */
#landing .instructions:nth-child(even) .bold-word{
  color: #0057FF;
  font-weight: bold;
}

#landing .FAQ-description {
  margin-top: 5rem;
  max-width: 400px;
}

#landing .FAQ-description .faq-header {
  color:#0057FF;
  font-size: 32px;
  margin: 0;
}


#landing .FAQs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
}