#group {
	height: 100%;
	background-image: url("../../assets/images/backgrounds/blue.svg") !important;
	// display: grid;
	// grid-template-columns: 4fr 1fr;
	grid-gap: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	.profile-info-right {
		width: 100%;
		.btn-containers {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.view-btn {
				color: #adadad;
				background: none;
				border: none;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	.active {
		background: var(--primary) !important;
	}
	.blue-btn {
		background: var(--primary);
		&:hover {
			background: #2772b8;
		}
	}
	.table-header {
		color: var(--primary);
	}
	.table-row {
		&:nth-child(even) {
			background: #edf3ff;
		}
	}
	.table-content {
		&::-webkit-scrollbar-thumb {
			background: var(--primary);
			border-radius: 50px;
		}
	}

	.card-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-top: 2rem;
		grid-gap: 1.5vw;
		.card {
			box-sizing: border-box;
			border: 1px solid var(--gray-1);
			border-radius: 15px;
			padding: 1vw;
			text-align: left;
			position: relative;
			display: flex;
			flex-direction: column;
			* {
				margin: 0;
			}
			h3 {
				font-size: 0.9vw;
				margin-bottom: 2rem;
			}
			p {
				font-size: 0.6vw;
			}
			img {
				width: 1.5vw;
				background: var(--primary);
				border-radius: 5px;
				padding: 0.5rem;
				margin-bottom: 1rem;
			}
			overflow: hidden;
			transition: transform 0.2s ease-in;
			&:hover {
				transform: scale(1.05);
			}
			.card-detail {
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius: 0 0 15px 15px;
				width: 100%;
				height: 20%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 0 1rem;
				box-sizing: border-box;
				background: var(--primary);
				.card-detail-icon {
					width: 25%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.icon {
						width: 1vw;
						cursor: pointer;
						color: var(--light);
					}
				}
			}
		}
	}
}
