$section-padding: 5rem 15vw; 

#landing {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  .landing-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $section-padding;
    padding-top: 2rem;
    .landing-main-left  {
      justify-self: left;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      .main-header{
        font-size: 3vw !important;
        margin: 0;
        .bold-word {
          color: #0057FF;
        }
      }
      .main-text {
        font-size: 1vw !important;
        margin: 2rem 0;
      }
      .get-started-button {
        background: #000;
        color: #fff;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .landing-main-right {
      justify-self: end;
      .main-image {
        width: 30vw;
      }
    }
  }
  .landing-stats {
    background-image: url("../../assets/images/backgrounds/stats_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    .landing-stats-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      padding: 2.5rem 0;
      padding-bottom: 3.5rem;
      .image-box {
        font-weight: bold;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        .stats-text {
          font-size: 1.3vw !important;
          width: 70%;
        }
        img {
          width: 7vw;
        }
        span {
          color: #000;
        }
      }
    }
  }
  .instructions-container {
    padding: $section-padding;
    .instructions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      .text {
        text-align: left;
        width: 50%;
        span {
          color: #0057FF;
          font-weight: bold;
        }
        h1 {
          font-weight: 500;
          font-size: 2.5vw !important;
          margin-bottom: 1.5rem;
        }
      }
      img {
        border: 1px solid #d9d9d9;
        border-radius: 15px;
        width: 40%;
      }
    }
  }
}