$section-padding: 5rem 15vw; 

#landing {
  background: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  .landing-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $section-padding;
    padding-top: 2rem;
    height: 80vh;
    .landing-main-left  {
      justify-self: left;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      .main-header{
        font-size: 2.5vw !important;
        margin: 0;
        .bold-word {
          color: var(--primary);
        }
      }
      .main-text {
        font-size: 1vw !important;
        margin: 2rem 0;
      }
      .get-started-button {
        background: var(--primary);
        color: var(--light);
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          background: var(--primary-hover);
        }
      }
    }
    .landing-main-right {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: end;
      .main-image {
        width: 35vw;
        position: relative;
        top: -26px;
      }
    }
  }
  .landing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .landing-info-header {
      width: 30%;
      h1 {
        margin-bottom: 2rem;
        color: var(--primary);
      }
    }
    .landing-info-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
      padding: 3rem 10rem;
      .landing-info-item {
        position: relative;
        * {
          padding: 0;
          margin: 0;
        }
        h2 {
          font-size: 1.5vw;
          margin-bottom: 1rem;
        }
        padding: 3rem;
        text-align: left;
        border-radius: 15px;
        color: var(--light);
        transition: all 0.2s ease-in;
        img {
          position: absolute;
          bottom: 0;
          right: 0;
          opacity: 0.2;
          width: 25%;
        }
        &:first-child {
          background: #8692cd;
          &:hover {
            background: #6c77af;
          }
        }
        &:nth-child(2) {
          background: #78d5dd;
          &:hover {
            background: #5eb1b9;
          }
        }
        &:last-child {
          background: #f27d9f;
          &:hover {
            background: #d36383;
          }
        }
      }
    }
  }
  
  .landing-tutorial {
    margin: 5rem 0; 
    padding: 0 10vw;
    * {
      padding: 0;
      margin: 0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .landing-tutorial-header {
      width: 30vw;
      margin-bottom: 3rem;
      h1 {
        margin-bottom: 2rem;
        color: var(--primary);
      }
    }
    .landing-tutorial-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      text-align: left;
      .tutorial-item {
        border: 1px solid var(--gray-1);
        border-radius: 15px;
        padding: 3rem;
        &:nth-child(1) {
          .item-number {
            background: #f27d9f;
          }
        }
        &:nth-child(2) {
          .item-number {
            background: #78d5dd;
          }
        }
        &:nth-child(3) {
          .item-number {
            background: #8692cd;
          }
        }
        &:nth-child(4) {
          .item-number {
            background: #fdd796;
          }
        }
        .item-number {
          border-radius: 5px;
          width: 2.5vw;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          font-size: 1.2vw;
          font-weight: bold;
          color: var(--light);
        }
        h3 {
          font-size: 1.2vw;
          margin-bottom: 1rem;
        }
      }
    }
  }
}