#teacher {
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/backgrounds/blue_background.png");
}