#login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    .drop-down {
        position: absolute;
        top: 0;
        left: 0;
    }
    .login-container {
        position: relative;
        padding: 5rem;
        background-color: var(--light);
        border-radius: 15px;
        height: 500px;
        width: 15%;
        .close-btn {
            position: absolute;
            top: 2.5%;
            right: 5%;
            background: none;
            border: none;
            cursor: pointer;
            .close-icon {
                width: 25px;
                height: 25px;
                border-radius: 15px;
            }
        }
        .logo {
            width: 10vw;
        }
        h1 {
            font-size: 48px;
            color: var(--primary);
            margin: 1rem 0;
        }
        p {
            margin-bottom: 1rem;
        }
        .login-form {
            display: flex;
            flex-direction: column;
            label {
                text-align: left;
            }
            input {
                margin-bottom: 1rem;
                height: 35px;
                border: none;
                border-bottom: 2px solid var(--primary);
                &:focus {
                    outline: none;
                }
            }
            .button-container {
                display: flex;
                flex-direction: column;
                .forgot-password {
                    text-align: left;
                    font-size: 12px;
                    text-decoration: underline;
                    margin-bottom: 0.5rem;
                    cursor: pointer;
                }
                .blue-btn {
                    margin: 0;
                }
            }
        }
        .login-breaker {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem 0;
            .breaker {
                height: 1px;
                width: 40%;
                background: var(--dark);
            }
        }
        .below-or {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            .google-sso-button {
                background: none;
                border: 1px solid var(--primary);
                border-radius: 5px;
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                &:hover {
                    border: 1px solid #2b5fc6;
                }
                img {
                    width: 20px;
                    margin-right: 0.5rem;
                }
            }
            .user-text {
                font-size: 14px !important; 
                text-align: left;
                margin: 0;
                .underline-text {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
      }
  }