#sign-up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  .blue-btn {
      margin: 0;
  }

  .login-container {
    position: relative;
    background: #fff;
    padding: 5rem;
    border-radius: 15px;
    .logo {
      color: #0057FF;
      font-weight: 800;
      font-size: 48px;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .close-btn {
      position: absolute;
      top: 2.5%;
      right: 5%;
      background: none;
      border: none;
      cursor: pointer;
    }
  
    .close-icon {
        width: 25px;
        height: 25px;
        border-radius: 15px;
    }
    .login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      label {
        text-align: left;
        .required-field{
          color: red;
        }
      }
      .name-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        .names-input {
          display: flex;
          flex-direction: column;
          input {
            margin-bottom: 1rem;
            height: 35px;
            border: none;
            border-bottom: 2px solid #5991ff;
            &:focus {
                outline: none;
            }
          }
        }
      }
    }
  }
  .user-text {
    text-align: left;
    font-size: 14px !important;
    margin-top: 1rem;
    .underline-text {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
