.profile-filter {
	.profile-filter-container {
		padding: 1.5rem;
		box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
		border-radius: 15px;
		background: #fff;
		text-align: left;
		.similarity-range {
			display: flex;
			align-items: center;
			justify-content: center;
			input {
				width: 100%;
			}
			p {
				margin: 0 0.5rem;
				padding: 0;
			}
		}
		h4 {
			margin: 0;
			margin-bottom: 1rem;
		}
		.filter-section {
			margin-bottom: 1rem;
		}
		input {
			box-sizing: border-box;
			border: 1px solid #d9d9d9;
			border-radius: 5px;
			padding: 0 1rem;
			width: 100%;
			margin: 0;
		}
		.sort-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 0.5rem;
		}
		.active {
			background: #0057ff !important;
			color: #fff;
		}
		.sort-btn {
			font-size: 12px;
			padding: 0.5rem 1rem;
			background: #fff;
			border: 1px solid #d9d9d9;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.1s ease-in;
			&:hover {
				background: #f5f5f5;
			}
		}
		.sort-order {
			display: flex;
			align-items: center;
			justify-content: space-around;
			.sort-btn {
				margin-left: 0.5rem;
			}
		}
		.confirm-container {
			margin-top: 1rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.blue-btn {
				margin: 0;
				width: 70px;
			}
			.discard-btn {
				background: #fff !important;
				color: #000;
				border: 1px solid #000;
				border-radius: 5px;
				margin-right: 1rem;
				&:hover {
					background: #f5f5f5 !important;
				}
			}
		}
	}
	h2 {
		margin: 0;
	}
	.breaker {
		background: #d9d9d9;
		width: 100%;
		height: 1px;
	}
	img {
		width: 70%;
	}
	.filter-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		h1 {
			font-size: 24px !important;
		}
		p {
			font-size: 0.7vw !important;
			margin-bottom: 1rem;
		}
	}
}
