body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  nav {
    padding: 0 10rem;
  }
  section {
    padding: 5rem 10rem;
  }
  
  .blue-btn {
    background: none;
    border: none;
    cursor: pointer;
    background: #0057FF;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease-in;
    margin-left: 1.5rem;
  }
  
  .blue-btn:hover {
      background: #0b4ed5;
  }
  
#teacher, #profile, #assignment, #group {
    height: 90vh;
}

input {
    margin-bottom: 1rem;
    height: 35px;
    border: none;
    border-bottom: 2px solid #5991ff;
    &:focus {
        outline: none;
    }
}

.profile-container {
        border-radius: 15px;
        padding: 3rem;
        box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
        background: #fff;
        .profile-info {
            display: flex;
            .profile-info-right {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                h1 {
                    margin: 0;
                    line-height: 48px;
                    font-size: 48px;
                }
            }
            img {
                width: 150px;
                height: 150px;

                margin-right: 3rem;
                border: 1px solid #d9d9d9;
                border-radius: 15px;
            }
            margin-bottom: 3rem;
            .blue-btn {
                margin: 0;
            }
        }
        .table {
            .search-container {
                input {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    border: 1px solid #d9d9d9;
                }
            }
            .table-header {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
                border-bottom: 1px solid #d9d9d9;
                color: #0057FF;
                font-weight: bold;
            }
            .table-content {
                max-height: 45vh;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0.25vw;
                }
                &::-webkit-scrollbar-thumb {
                    background: #0057FF;
                    border-radius: 50px;
                }
                &::-webkit-scrollbar-track {
                    background: #d9d9d9;
                }
                .table-row {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
                    padding: 2rem 0;
                    place-items: center;
                    .file-name {
                        font-weight: bold;
                    }
                    &:nth-child(even) {
                        background: #EDF3FF;
                    }
                    &:nth-child(odd) {
                        background: #fff;
                    }
                    .row-detail {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        img {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .profile-dashboard {
        box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
        background: #fff;
        border-radius: 15px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .dashboard-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid #D9D9D9;
            grid-gap: 1rem;
            padding: 3rem 0 3rem 0;
            h1 {
                margin: 0;
                margin-top: 1rem;
            }
            p {
                font-size: 12px;
                margin: 0
            }
        }
    }