body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

nav {
  padding: 1.5rem 15rem;
  box-sizing: border-box;
}

section, footer {
  padding: 5rem 10rem;
  box-sizing: border-box;
  width: 100vw;
}

.icon:focus {
  outline: none;
  box-shadow: none;
  color: #000;
}

h1 {
  font-size: 2vw !important;
  margin: 0;
}

p {
  font-size: 0.9vw !important;
  margin: 0;
}

.blue-btn {
  background: none;
  border: none;
  cursor: pointer;
  background: #0057FF;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in;
  margin-left: 1.5rem;
}
.blue-btn:hover {
  background: #0b4ed5;
}

#teacher, #profile, #assignment, #group {
  height: 90vh;
}

input {
  margin-bottom: 1rem;
  height: 35px;
  border: none;
  border-bottom: 2px solid #5991ff;
}
input:focus {
  outline: none;
}

.profile-container {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
  background: #fff;
  height: 80vh;
}
.profile-container .profile-info {
  display: flex;
  margin-bottom: 3rem;
}
.profile-container .profile-info .profile-info-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.profile-container .profile-info .profile-info-right h1 {
  margin: 0;
  line-height: 48px;
  font-size: 48px;
}
.profile-container .profile-info .profile-info-right p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.profile-container .profile-info img {
  width: 150px;
  height: 150px;
  margin-right: 3rem;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}
.profile-container .profile-info .blue-btn {
  margin: 0;
}
.profile-container .table .search-container {
  margin-bottom: 1rem;
}
.profile-container .table .search-container input {
  padding: 0.25rem 0rem 0.25rem 1rem;
  width: 98%;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
}
.profile-container .table .table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #d9d9d9;
  color: #0057FF;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}
.profile-container .table .table-content {
  max-height: 45vh;
  overflow-y: scroll;
}
.profile-container .table .table-content::-webkit-scrollbar {
  width: 0.25vw;
}
.profile-container .table .table-content::-webkit-scrollbar-thumb {
  background: #0057FF;
  border-radius: 50px;
}
.profile-container .table .table-content::-webkit-scrollbar-track {
  background: #d9d9d9;
}
.profile-container .table .table-content .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem 0;
  place-items: center;
}
.profile-container .table .table-content .table-row .file-name {
  font-weight: bold;
}
.profile-container .table .table-content .table-row:nth-child(even) {
  background: #EDF3FF;
}
.profile-container .table .table-content .table-row:nth-child(odd) {
  background: #fff;
}
.profile-container .table .table-content .table-row .row-detail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-container .table .table-content .table-row .row-detail .icon {
  cursor: pointer;
}

.profile-dashboard {
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
  background: #fff;
  border-radius: 15px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}
.profile-dashboard h2 {
  margin: 0;
}
.profile-dashboard .breaker {
  background: #D9D9D9;
  width: 100%;
  height: 1px;
}
.profile-dashboard img {
  width: 70%;
}
.profile-dashboard .dashboard-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.profile-dashboard .dashboard-info h1 {
  font-size: 24px !important;
}
.profile-dashboard .dashboard-info p {
  font-size: 0.7vw !important;
  margin-bottom: 1rem;
}/*# sourceMappingURL=index.css.map */