$section-padding: 5rem 10rem; 
$nav-padding: 1.5rem 15rem; 

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

nav {
    padding: $nav-padding;
    box-sizing: border-box;
}

section, footer {
    padding: $section-padding;
    box-sizing: border-box;
    width: 100vw;
}

.icon:focus {
    outline: none;
    box-shadow: none;
    color: #000;
}

h1 {
    font-size: 2vw !important;
    margin: 0;
}

p {
    font-size: 0.9vw !important;
    margin: 0;
}

.blue-btn {
    background: none;
    border: none;
    cursor: pointer;
    background: #0057FF;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease-in;
    margin-left: 1.5rem;
    &:hover {
        background: #0b4ed5;
    }
}

#teacher, #profile, #assignment, #group {
    height: 90vh;
}

input {
    margin-bottom: 1rem;
    height: 35px;
    border: none;
    border-bottom: 2px solid #5991ff;
    &:focus {
        outline: none;
    }
}

.profile-container {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 3rem;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.37);
    background: #fff;
    height: 80vh;
    .profile-info {
        display: flex;
        margin-bottom: 3rem;
        .profile-info-right {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            h1 {
                margin: 0;
                line-height: 48px;
                font-size: 48px;
            }
            p {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
        }
        img {
            width: 150px;
            height: 150px;

            margin-right: 3rem;
            border: 1px solid #d9d9d9;
            border-radius: 15px;
        }
        .blue-btn {
            margin: 0;
        }
    }
    .table {
        .search-container {
            input {
                padding: 0.25rem 0rem 0.25rem 1rem;
                width: 98%;
                border-radius: 50px;
                border: 1px solid #d9d9d9;
            }
            margin-bottom: 1rem;
        }
        .table-header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            border-bottom: 1px solid #d9d9d9;
            color: #0057FF;
            font-weight: bold;
            padding-bottom: 1rem;
            margin-bottom: 0.5rem;
        }
        .table-content {
            max-height: 45vh;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0.25vw;
            }
            &::-webkit-scrollbar-thumb {
                background: #0057FF;
                border-radius: 50px;
            }
            &::-webkit-scrollbar-track {
                background: #d9d9d9;
            }
            .table-row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                padding: 2rem 0;
                place-items: center;
                .file-name {
                    font-weight: bold;
                }
                &:nth-child(even) {
                    background: #EDF3FF;
                }
                &:nth-child(odd) {
                    background: #fff;
                }
                .row-detail {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}