#navbar {    
    width: 100vw !important;
    display: flex;
    align-items: center;
    background: var(--light);
    p {
        font-size: 0.9vw !important;
        font-weight: 500;
    }
    .nav-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        .nav-logo {
            img {
                width: 10vw;
            }
        }
        h1 {
            font-weight: 800;
            color: var(--primary);
            font-size: 32px;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            .nav-item {
                position: relative;
                text-decoration: none;
                color: var(--dark);
                transition: all 0.1s ease-in;
                &::before {
                    position: absolute;
                    bottom: -10%;
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 2px;
                }
                &:hover::before {
                    background: var(--primary);
                    transition: all 0.1s ease-in;
                }
            }
        }
    }
    
    .nav-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn-container {
            button {
                background: none;
                border: none;
                cursor: pointer;
            }
            .login-btn {
                border-bottom: 2px solid var(--primary);
            }
            .signup-btn {
                background: var(--primary);
                padding: 0.5rem 1rem;
                border-radius: 50px;
                color: #fff;
                transition: all 0.2s ease-in;
                margin-left: 1.5rem;
                &:hover {
                    background: var(--primary-hover);
                }
            }
        }
    }
}